# Ignore everything
*

# But not these files...
!.gitignore
!.gitconfig
!.vim/vimrc
!.emacs
!.emacs.d/*.el
!.tmux.conf
!.zshrc
!.bash_aliases
!.gdbinit
!.inputrc
!.config/starship.toml


# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
