[user]
	email = stewart.c.perry@gmail.com
	name = Stu Perry
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
	oneline = log --pretty=format:\"%C(yellow)%h %C(blue)%<(15,trunc)%an %>(16)%C(green)%ah %C(reset)%<(90,trunc)%s\"
